@model MyShop.Core.ViewMoldels.ProductListViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-2">
    <h4>Filter by Category</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new { @class = "category-label label label-default" })
        @foreach (var cat in Model.ProductCategories)
        {
            @Html.ActionLink(" " + cat.Category + " ", "Index", new { Category = cat.Category}, new { @class = "category-label label label-default" })
        }
    </div>
</div>

@foreach (var item in Model.Product)
{
    <div class="col-md-2" style="height:450px;padding:10px;margin:10px;border:solid thin whitesmoke">
        <div class="col-md-12">
            <img src="~/Content/ProductImages/@item.Image" alt="@item.Description" style="width:150px;height:150px;margin-bottom:15px;" class="img-responsive img-thumbnail" />
        </div>
        <div class="col-md-12">
            <strong>@Html.ActionLink(item.Name, "Details", new { Id = item.Id})</strong>
        </div>
        <div class="col-md-12">
            <p>@item.Description</p>
        </div>
        <div class="col-md-12">
            <p>@item.Price</p>
        </div>
        <div class="col-md-12">
            <a href="#" class="btn btn-default">Add to basket</a>
        </div>
    </div>
}

<div class="clearfix" >

</div>