@model MyShop.Core.ViewMoldels.ProductListViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top:25px;">

    <div class="col-md-2">
        <h4><strong>Filter By Category</strong></h4>
        <div class="list-group">
            @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
            @foreach (var Category in Model.ProductCategories)
            {

                @Html.ActionLink(Category.Category, "Index", new { Category = Category.Category }, new { @class = Request["Category"] == Category.Category ? "list-group-item active" : "list-group-item" })
            }
        </div>
    </div>

    <div class="col-md-10">
        @foreach (var item in Model.Product)
            {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/ProductImages/@item.Image" alt="@item.Description" class="img-responsive" style="height:250px;">
                    <div class="caption">
                        <h3><strong>@Html.ActionLink(item.Name, "Details", new { Id = item.Id }, new { @class = "active" })</strong></h3>
                        <p>@item.Description</p>
                        <div class="row">                   
                            <div class="col-md-6 price">
                                <p><strong>@string.Format("{0:c}", @item.Price)</strong></p>
                            </div>
                            <div class="col-md-6">
                                <p><a href="@Url.Action("AddToBasket","Basket", new { Id = @item.Id})" class="btn btn-primary">Add to basket</a></p>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="clearfix"></div>
</div>